.demo-button {
    margin-left: 50%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 0.5; /* Firefox */
}

a:hover {
    cursor: pointer;
}

#add-compare-product {
    color : #3385ff;
}

/* For display code */
.highlight {
    font-size: 90%;
    color: #f8f8f2;
    background-color: #233445;
}

pre {
    display: block;
    padding: 11.5px;
    margin: 0 0 12px;
    font-size: 16px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}