{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

<h3> INDEX </h3>

{% block main %}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        <h1 class="mb-0">
            <span class="text-primary">E-commerce system</span> for market analysis and recommendation
        </h1>
        <div class="subheading mb-5">ĐH Bách Khoa TPHCM · 268 Lý Thường Kiệt · Phường 14, Quận 10, Hồ Chí Minh ·
            <br>
            <strong>Giáo viên hướng dẫn:</strong> <a href="mailto:qttho@hcmut.edu.vn">Quản Thành Thơ</a>
            <br>
            <strong>Sinh viên thực hiện:</strong>
            <a href="mailto:mainguyenvu210@gmail.com">Mai Nguyên Vũ</a> -
            <a href="mailto:quandxbp@gmail.com">Bùi Trần Đông Quân</a>
        </div>

        <h2 class="mb-5">Phân tích cảm xúc trong xử lý ngôn ngữ tự nhiên là gì?</h2>

        <p class="lead mb-5">Sentiment Analysis Vietnamese (SAV) - phân tích tình cảm là một quá trình
            trích xuất ý định cảm xúc của tác giả từ văn bản. SAV sử dụng mô hình kiến trúc kết hợp giữa mạng nơ-ron
            tích chập nhiều lớp (Convolutional Neural Network - CNN) và mạng nơ-ron hồi quy bộ nhớ ngắn-dài (LSTM) cho
            bài toán phân loại văn bản.</p>
        <p class="lead mb-5">
            Mô hình SAV cho độ chính xác (accuracy) <strong>76%</strong> với các bình luận (comment) hay đánh giá
            (review) của
            người
            dùng về các sản phẩm thuộc nhiều lĩnh vực, những đặc biệt tập trung vào lĩnh vực các sản phẩm công nghệ/ kỹ
            thuật.
        </p>

        <h2 class="mb-5">Vì sao phân tích ý định cảm xúc lại quan trọng?</h2>

        <p class="lead mb-5">
            Trong ngữ cảnh nhất định, văn bản giúp thương hiệu hiểu thêm về hành vi của khách hàng đối với một chiến
            dịch
            quảng cáo của thương hiệu. Ví dụ khi Bitis chạy quảng cáo trên dòng sản phẩm mới, họ cần hiểu cách người
            dùng
            tương tác với dòng sản phẩm đó trên các trang mạng xã hội hoặc ngay chính trang web của họ.
            Người dùng thích hay ghét dòng sản phẩm mới? Và tỉ lệ là bao nhiêu %?
        </p>

        <p class="lead mb-5">
            Nhờ vào phân tích ngữ nghĩa, chúng ta có thể phát hiện ra "cảm xúc" của người dùng, từ đó có thể đưa
            ra những quyết định tốt hơn.
        </p>
    </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="method">
    <div class="w-100">
        <h2 class="mb-5">Cách giải quyết bài toán của chúng tôi</h2>

        <p class="lead mb-5">
            Chúng tôi chia bài toán sentiment analysis này ra làm 2 phần:
        </p>

        <ul class="fa-ul mb-5">
            <li>
                <i class="fa-li fa fa-check"></i>
                Phần 1.1: Nhận diện tích cực/ trung tính/ tiêu cực bằng Deep Learning
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Phần 1.2: Nhận biết entity của sản phẩm
            </li>
            <li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Phần 2: Đánh giá sự tương đồng giữa 2 sản phẩm (similarity) dựa trên tên của sản phẩm</li>
        </ul>

        <h3 class="mb-5">Phần 1.1: Nhận diện tích cực/ trung tính/ tiêu cực bằng Deep Learning Neural Network</h3>

        <p class="lead mb-5">
            Chúng tôi sử dụng một mô hình kết hợp giữa mạng LSTM và mạng CNN theo thứ tự như sau: nhận đầu vô là những
            vector đã được huấn luyện tiếp theo đó là 1 mạng CNN nhằm trích xuất dữ liệu, ngay sau đó là 2 mạng LSTM đơn
            được sử dụng đồng thời và độc lập để mô hình hoá đầu vào theo 2 hướng trái ngược nhau.

            Cuối cùng 2 lớp kết nối đầy đủ (fully-connected) và đưa ra kết quả phân loại.
        </p>

        <h4 class="mb-5">Scope của bài toán của chúng tôi</h4>
        <p class="lead mb-5">
            Ở ứng dụng demo này, chúng tôi chỉ giải quyết vấn đề ở mức <strong>đơn giản</strong>, nghĩa là phân tích
            cảm xúc (thái độ) trong văn bản thành 3 lớp: tích cực (positive), tiêu cực (negative) và trung tính
            (neutral).
        </p>

        <h4 class="mb-5">Tổng thể bài toán 1</h4>

        <figure class="text-center mb-5">
            <img src="https://i.imgur.com/l5tms0X.png" class="figure-img img-fluid" alt="bai toan deep learning">
            <figcaption class="figure-caption">Hình 1: bài toán deep learning</figcaption>
        </figure>

        <h3 class="mb-5">Phần 1.2: Nhận biết entity của sản phẩm</h3>

        <p class="mb-5">
            Khi đánh giá một câu bình luận hay một bài viết về một sản phẩm công nghệ, chúng tôi cũng có đánh giá cả
            những
            thuộc tính của sản phẩm đó.
        </p>

        <p>Ví dụ như khi nói về điện thoại: Chúng ta sẽ có những entity như sau:</p>

        <p class="mb-5">
            <span class="badge badge-pill badge-primary">Pin</span>
            <span class="badge badge-pill badge-secondary">Cấu hình</span>
            <span class="badge badge-pill badge-success">Camera</span>
            <span class="badge badge-pill badge-danger">Màn hình</span>
            <span class="badge badge-pill badge-warning">Phần mềm</span>
            <span class="badge badge-pill badge-info">Chức năng</span>
            <span class="badge badge-pill badge-light">Thiết kế</span>
            <span class="badge badge-pill badge-dark">Hệ điều hành</span>
        </p>

        <p>
            Đây là những <strong>thành phần cấu thành sản phẩm(entity)</strong> đã xác định trước, và những từ khóa
            thuộc về
            những thành phần trên cũng đã được định nghĩa trước. Nghĩa là khi xuất hiện bất kỳ từ khóa nào trong đoạn
            văn bản(exact match),
            thì hệ thống tự xác định là thuộc <strong>thành phần cấu thành</strong> nào.
            Thông tin về danh sách những từ khóa trong các <strong>thành phần cấu thành sản phẩm</strong> bạn có thể
            tham khảo thêm tại
            <a href="https://github.com/concalahan/Sentiment-Analysis-Vietnamese/blob/master/entities.json">đây</a>.
        </p>

        <p>
            Ví dụ với thành phần là
            <span class="badge badge-pill badge-light">Thiết kế</span>
            , chúng ta sẽ có:
        </p>

        <pre class="mb-4"><code class="javascript">
            [
                "thiết kế", "thân máy", "mặt lưng", "nắp lưng", "vỏ", "phím", "kính cường lực",
                "lưng", "nút nguồn", "vỏ", "cổng sạc", "kiểu dáng"
            ]
        </code></pre>

        <p>
            Và Trong mỗi thành phần như vậy, chúng tôi lại định nghĩa những thuộc tính thuộc về thành phần đó (bạn có
            thể tham khảo thêm tại
            <a href="https://github.com/concalahan/Sentiment-Analysis-Vietnamese/blob/master/attributes.json">đây</a>).
        </p>
        <p>
            Ví dụ với
            <span class="badge badge-pill badge-light">Thiết kế</span>, chúng ta sẽ có
        </p>

        <pre class="mb-4"><code class="javascript">
            [
                "tốt", "đẹp", "ổn", "bền", "liền mạch" , "nhỏ", "gọn", "mỏng", "chắc chắn",
                "bắt mắt" ,"độc" ,"lạ", "sang trọng" , "tương đối", "trẻ trung" , "vừa", "tinh tế" ,
                "ok" ,"mặt kính", "xấu", "không đẹp" ,"hầm hố", "to"
            ]
        </code></pre>

        <p>Ví dụ với một request với một câu nói bình luận:
            <strong>"Nắp lưng mới giúp cho iPhone XS nhìn trẻ trung và năng động hơn"</strong>.
        </p>
        <p>
            Đầu tiên, hệ thống sẽ xác định được rằng trong câu trên, cụm từ <strong>"Nắp lưng"</strong> là một từ khóa
            thuộc
            thành phần cấu tạo là
            <span class="badge badge-pill badge-light">Thiết kế </span>
            đã được định nghĩa trước đó của chúng ta. Và tiếp theo đó, hệ thống sẽ quay lại phân tích kỹ hơn câu đánh
            giá để
            có thể tìm ra được thuộc tính của <strong>"Nắp lưng"</strong> trước đó.
        </p>
        <p>
            Sau khi tiếp tục phân tích, hệ thống sẽ nhận ra lần lược được là <strong>trẻ trung</strong> và <strong>năng
                động</strong>
            là một thuộc tính của thành phần
            <span class="badge badge-pill badge-light">Thiết kế
            </span>
            , nên vậy nó sẽ hiển thị kết quả tương ứng là:
        </p>
        <p>
            <span class="ml-5">
                <strong>Entity:</strong> "Nắp lưng"
            </span>
            <span class="ml-2">
                <strong>Attributes:</strong> ["trẻ trung", "năng động"]
            </span>
        </p>

        <p class="mb-5">
            Với đoạn văn lớn hơn gồm nhiều câu, hệ thống sẽ tự tách theo dấu chấm và dấu phẩy(nếu cần thiết). Và tiến
            hành thực hiện lại thao tác như bên trên.
        </p>

        <h3 class="mb-5">Phần 2: Đánh giá sự tương đồng giữa 2 sản phẩm (similarity) dựa trên tên của sản phẩm</h3>

        <ol class="mb-5">
            <li>Sau khi tiền xử lý dữ liệu, và tokenize các chữ trong đoạn văn, chúng ta sẽ có một bộ dữ liệu lớn.</li>
            <li>Chúng ta sẽ tiến hành biến chữ thành vector dựa trên bộ dữ liệu lớn ấy</li>
            <li>Ví dụ với câu "Hôm nay tôi đi học" thì sẽ chuyển đổi ra một vector <strong>[1,2,3,4,5]</strong> với
                1,2,3,4,5 là vị trí
                của từ đó trong bộ dữ liệu lớn của chúng ta.
            </li>
            <li>
                Như vậy, với hai sản phẩm khác nhau sẽ có hai vector. Để có thể so sánh hai vector cần chúng
                có độ dài bằng nhau. Do vậy, vector cần được padding (thêm 0 để có độ dài vector bằng nhau).
                Độ dài padding chúng tôi sử dụng là <strong>128</strong>.
            </li>
            <li>
                Có hai vector, chúng tôi tiến hành so sánh sử dụng cosine (tính khoảng cách giữa hai vector)
            </li>
        </ol>
    </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <div class="row mb-5">
            <h2>Thực nghiệm </h2>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-1 analyze-section">
            <div class="resume-content analyze-section">
                <h3 class="mb-0 analyze-section">Phân tích bình luận, đánh giá </h3>
                <div class="subheading mb-3 analyze-section">Nhập một câu hoặc một đoạn văn bằng Tiếng Việt </div>
                <div class="form-group analyze-section">
                    <textarea id="demo-content" class="form-control" rows="5" cols="120"></textarea>
                </div>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-1 compare-section">
            <div class="resume-content compare-section">
                <h3 class="mb-0 compare-section">So sánh sự tương đồng </h3>
                <div class="subheading mb-3 compare-section">Nhập tên sản phẩm mẫu </div>
                <div class="form-group compare-section">
                    <input id="product-model" class="form-control" type="text" placeholder="Ex: iPhone XS 128GB">
                </div>
                <div class="subheading mb-3">Nhập tên sản phẩm muốn so sánh </div>
                <div id="product-compare-area" class="form-group compare-section">
                    <input class="form-control product-compare" type="text" placeholder="Ex: iPhone XS 64GB">
                </div>
                <div class="row ml-4 mb-2">
                    <a id="add-compare-product">Thêm sản phẩm để so sánh</a>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <button id="change-btn" type="button" class="btn btn-info ml-3">Chuyển sang so sánh</button>
            <button id="clear-demo-vsa" type="button" class="btn btn-danger demo-button">Xóa nội dung</button>
            <button id="submit-demo-vsa" type="button" class="btn btn-success ml-2 ">Thực hiện</button>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-1 mt-2">
            <div class="resume-content">
                <h3 class="mb-0">Kết quả</h3>

                <div class="panel panel-default">
                    <!-- Dislay demo -->
                    <div id="display-demo" class="panel-body form-group display-demo">

                    </div>
                    <!-- /Dislay demo -->
                </div>
            </div>
        </div>
    </div>

</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="system">
    <div class="w-100">
        <h2 class="mb-5">Các tham số của hệ thống</h2>

        <h3>Cấu trúc mô hình</h3>

        <figure class="text-center mb-5">
            <img src="https://i.imgur.com/akQQr4R.png" class="figure-img img-fluid" alt="cau truc mo hinh">
            <figcaption class="figure-caption">Hình 2: Cấu trúc mô hình</figcaption>
        </figure>

        <h3>Chi tiết tham số</h3>

        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
            aria-describedby="dataTable_info" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        style="width: 111px;">STT</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">Lớp</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        tyle="width: 78px;">Filter</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        style="width: 31px;">Kernel</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        style="width: 70px;">Stride</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        style="width: 67px;">Đặc trưng đầu ra</th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" class="odd">
                    <td class="sorting_1">1</td>
                    <td>Embedding</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>200</td>
                </tr>
                <tr role="row" class="even">
                    <td class="sorting_1">2</td>
                    <td>CNN</td>
                    <td>500</td>
                    <td>3</td>
                    <td>1</td>
                    <td>500</td>
                </tr>
                <tr role="row" class="odd">
                    <td class="sorting_1">3</td>
                    <td>BiLSTM</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>500</td>
                </tr>
                <tr role="row" class="even">
                    <td class="sorting_1">4</td>
                    <td>Fully-connected</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>1000</td>
                </tr>
                <tr role="row" class="even">
                    <td class="sorting_1">5</td>
                    <td>Fully-connected</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>1000</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="evaluation">
    <div class="w-100">
        <h2 class="mb-5">Phương pháp đánh giá mô hình</h2>

        <h3 class="mb-5">A. Độ đo Accuracy, Precision, Recall và F1 Score</h3>

        <p>Cách đánh giá độ chính xác của mô hình SAV thông qua các độ đo Accuracy, Precision, Recall và F1 Score được
            tính bằng các công thức sau:
            Với <span class="text-success">Pos</span> là tổng số bình luận được gán nhãn là tích cực (Positive) và <span
                class="text-danger">Neg</span> là tổng số bình luận được gán nhãn là tiêu cực (Negative) và 
                <span class="text-warning">Neu</span> là tổng số bình luận được gán nhãn là trung tính (Neutral).</p>

        <figure class="text-center mb-5">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Predicted as <span class="text-warning">Neu</span></th>
                        <th scope="col">Predicted as <span class="text-success">Pos</span></th>
                        <th scope="col">Predicted as <span class="text-danger">Neg</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">True: <span class="text-warning">Neu</span></th>
                        <td>18</td>
                        <td>265</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <th scope="row">True: <span class="text-success">Pos</span></th>
                        <td>46</td>
                        <td>2337</td>
                        <td>46</td>
                    </tr>
                    <tr>
                        <th scope="row">True: <span class="text-danger">Neg</span></th>
                        <td>38</td>
                        <td>482</td>
                        <td>80</td>
                    </tr>
                </tbody>
            </table>

            <figcaption class="figure-caption">Hình 4: Kết quả confusion matrix 3 class.</figcaption>
        </figure>

        <figure class="text-center mb-5">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Precision</th>
                        <th scope="col">Recall</th>
                        <th scope="col">F1-score</th>
                        <th scope="col">Support</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><span class="text-warning">Neu</span></th>
                        <td>0.18</td>
                        <td>0.06</td>
                        <td>0.09</td>
                        <td>290</td>
                    </tr>
                    <tr>
                        <th scope="row"><span class="text-success">Pos</span></th>
                        <td>0.76</td>
                        <td>0.96</td>
                        <td>0.85</td>
                        <td>2429</td>
                    </tr>
                    <tr>
                        <th scope="row"><span class="text-danger">Neg</span></th>
                        <td>0.60</td>
                        <td>0.13</td>
                        <td>0.22</td>
                        <td>600</td>
                    </tr>
                </tbody>
            </table>

            <figcaption class="figure-caption">Hình 5: Kết quả classification report 3 class.</figcaption>
        </figure>

        <!-- <p>Trong đó:</p>
        <ul class="mb-5">
            <li><span class="text-success">Pos</span>: tích cực</li>
            <li><span class="text-warning">Neu</span>: trung tính</li>
            <li><span class="text-danger">Neg</span>: tiêu cực</li>
            <li>Accuracy = (<span class="text-success">TP</span> + <span class="text-danger">TN</span>) /
                (<span class="text-success">P</span> + <span class="text-danger">N</span>) </li>
            <li>Precision = <span class="text-success">TP</span> /
                (<span class="text-success">TP</span> + <span class="text-success">FP</span>) </li>
            <li>Recall = <span class="text-success">TP</span> /
                (<span class="text-success">TP</span> + <span class="text-danger">FN</span>) </li>
            <li>F1 Score = 2* <span class="text-success">TP</span> /
                (2*<span class="text-success">TP</span> + <span class="text-success">FP</span> + <span
                    class="text-danger">FN</span>) </li>
        </ul> -->

        <h3>B. Phương pháp label dữ liệu</h3>
        <ol>
            <li>Crawl dữ liệu theo comment - đánh giá</li>
            <li>Nếu comment đánh giá sản phẩm 4 hoặc 5 sao, chúng tôi sẽ tự động label là positive, 
                tương tự 3 sao là neutral và 1 hoặc 2 sao là negative</li>
            <li>Sau đó chúng tôi sẽ ngồi xem và lọc lại trên những comment đã label</li>
        </ol>

        <p class="mb-5">Phương pháp này có độ lệch cao vì rất nhiều user comment đánh giá 4 hay 5 sao, nhưng 
            lại phê bình sản phẩm rất nhiều.
        </p>

        <h3>C. Phương pháp xử lý tiền dữ liệu</h3>
        <p>Tiền xử lý dữ liệu được thực hiện bao gồm các bước:</p>
        <ol class="mb-5">
            <li>Loại bỏ các ký tự không phải alphabet, giữ số ngoại trừ khoảng trắng</li>
            <li>Tách từ, tạo bộ từ điển để đánh số thứ tự cho các từ, bộ từ điển có kích thước tối đa là 20000 từ
                (Tokenize)</li>
            <li>Chuyển từ sang dạng vector kích thước 200 và thiết lập các câu có độ dài bằng
                nhau sử dụng kỹ thuật padding với chiều dài là 128.</li>
        </ol>

        <h3>D. Phương pháp thiết lập</h3>
        <ol class="mb-5">
            <li>Thuật toán tối ưu hóa được sử dụng là Adam Optimizer
                với hàm chi phí là softmax, learning rate khởi tạo là
                0.0005, kích thước Mini-Batch 128.</li>
            <li>Thuật toán tính mất mát: Categorical Crossentropy</li>
            <li>Số lần huấn luyện tối đa (epoch) là 20. Trong quá trình
                huấn luyện Learning rate sẽ giảm 10 lần nếu độ chính
                xác không được cải thiện (nhỏ nhất 5e-6). Và dừng
                huấn luyện sau 5 lần mà độ chính xác không được cải
                thiện (2 đối với tập dữ liệu quá lớn).</li>
        </ol>

        <h3>D. Kết quả thực nghiệm</h3>
        <p>Sau khoảng 10 giờ huấn luyện trên chip đồ họa GTX 1050ti
            ngôn ngữ lập trình python, kết quả thực nghiệm và so sánh với
            các mô hình khác được thể hiện ở hình 4 và hình 5.</p>
    </div>
</section>

<hr class="m-0">

<section class="p-3 p-lg-5 d-flex align-items-center" id="citation">
    <div class="w-100">
        <h2 class="mb-5">References</h2>
        <ol class="fa-ol mb-0">
            <li>
                <i class="fa-li fa fa-check text-success"></i>
                [1]D. To Van and T. Quan Thanh, "Phan loai van ban cap do tu su dung mo hinh ket hop giua mang no-ron
                tich chap nhieu lop va mang no-ron hoi quy bo nho ngan dai", 2019. [Accessed 12 May 2019].</li>
            <li>
                <i class="fa-li fa fa-check text-success"></i>
                [2]K. Ricky, "Another Twitter sentiment analysis with Python — Part 11 (CNN + Word2Vec)", Towards Data
                Science, 2019. [Online]. Available:
                https://towardsdatascience.com/another-twitter-sentiment-analysis-with-python-part-11-cnn-word2vec-41f5e28eda74.
                [Accessed: 12- May- 2019].</li>
            <li>
                <i class="fa-li fa fa-check text-success"></i>
                Theme sử dụng của <a href="https://startbootstrap.com/themes/resume/">Start Bootstrap</a></li>
        </ol>
    </div>
</section>

</div>

{% endblock %}